
<content class="show-year">

	<!-- day view -->
	<div class="sidebar show">
		<div class="sidebar-wrapper">
			<div class="mini-calendar">
				<!-- sidebar calendar HTML goes here -->
			</div>

			<hr />

			<div class="calendars">
				<h3>Calendars</h3>
				<ul>
					<li>Birthdays</li>
					<li>Swedish Holidays</li>
					<li>Home</li>
					<li>Work</li>
				</ul>
			</div>

			<hr />
			
		</div>
	</div>

	<div class="main">
		<!-- day view -->
		<div class="view-day">
			<!-- day HTML goes here -->
		</div>

		<!-- week view -->
		<div class="view-week">
			<!-- week HTML goes here -->
		</div>

		<!-- month view -->
		<div class="view-month">
			<!-- month HTML goes here -->
		</div>

		<!-- year view -->
		<div class="view-year" data-click="select-month">
			<!-- year HTML goes here -->
		</div>
	</div>

</content>
