
<content>

	<!-- day view -->
	<div class="sidebar" data-area="sidebar">
		<div class="sidebar-wrapper">
			<div class="wrapper mini-calendar">
				<div class="cal-nav">
					<span class="icon-chevron-left" data-click="sidebar-go-prev"></span>
					<span class="icon-chevron-right" data-click="sidebar-go-next"></span>
				</div>
				<div class="cal-reel">
					<div class="reel-wrapper">
						<!-- sidebar calendar HTML goes here -->
					</div>
				</div>
			</div>

			<hr />

			<div class="wrapper calendars">
				<legend>
					Calendars
					<span class="btn-toggle" sys-click="toggle-sidebar-block" toggle-text="Show">Hide</span>
				</legend>
				<div class="list-wrapper">
					<ul data-click="toggle-calendars">
						<li>
							<span class="form-checkbox_ blue"><input type="checkbox" id="calendar-blue" checked/><i></i></span>
							<label for="calendar-blue">Swedish Holidays</label>
						</li>
						<li>
							<span class="form-checkbox_ green"><input type="checkbox" id="calendar-green" checked/><i></i></span>
							<label for="calendar-green">Birthdays</label>
						</li>
						<li>
							<span class="form-checkbox_ purple"><input type="checkbox" id="calendar-purple" checked/><i></i></span>
							<label for="calendar-purple">Home</label>
						</li>
						<li>
							<span class="form-checkbox_ cyan"><input type="checkbox" id="calendar-cyan" checked/><i></i></span>
							<label for="calendar-cyan">Work</label>
						</li>
					</ul>
				</div>
			</div>

			<hr />

			<div class="wrapper day-entries">
				<legend>
					Today March 1, 2021
					<span class="btn-toggle" sys-click="toggle-sidebar-block" toggle-text="Show">Hide</span>
				</legend>
				<div class="list-wrapper">
					<ul>
						<li data-id="31" class="entry orange">
							<span class="entry-title">Dentist</span>
							<span class="entry-time">09:30 - 11:00</span>
						</li>
						<li data-id="32" class="entry blue">
							<span class="entry-title">Lunch with Bill</span>
							<span class="entry-time">12:00 - 13:00</span>
						</li>
						<li data-id="33" class="entry purple">
							<span class="entry-title">Office Party</span>
							<span class="entry-time">16:30 - 19:00</span>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>

	<div class="main">
		<!-- day view -->
		<div class="view-day" data-area="popup" data-click="popup-event-details">
			<!-- day HTML goes here -->
		</div>

		<!-- week view -->
		<div class="view-week" data-area="popup" data-click="popup-event-details">
			<!-- week HTML goes here -->
		</div>

		<!-- month view -->
		<div class="view-month" data-area="popup" data-click="popup-month-entry-details">
			<!-- month HTML goes here -->
		</div>

		<!-- year view -->
		<div class="view-year" data-click="select-month">
			<!-- year HTML goes here -->
		</div>
	</div>

</content>
