
<content>

	<div class="view-week">
		<h2><b>February</b> 2021</h2>
		<div class="week">
			<div class="weekdays">
				<u class="col-hours"></u>
				<b><i>Mon</i><i>15</i></b>
				<b><i>Tue</i><i>16</i></b>
				<b><i>Wed</i><i>17</i></b>
				<b class="today"><i>Thu</i><i>18</i></b>
				<b><i>Fri</i><i>19</i></b>
				<b class="weekend"><i>Sat</i><i>20</i></b>
				<b class="weekend"><i>Sun</i><i>21</i></b>
			</div>
			<div class="days">
				<div class="days-wrapper">
					
					<div class="col-hours"></div>
					<div class="col-day">
						<div class="event purple"><span class="event-time">9:15</span><span class="event-title">New Event</span></div>
					</div>
					<div class="col-day">
						<div class="event green"><span class="event-time">9:15</span><span class="event-title">New Event</span></div>
					</div>
					<div class="col-day">
						<div class="event orange"><span class="event-time">10:00</span><span class="event-title">New Event</span></div>
					</div>
					<div class="col-day">
						<div class="event yellow"><span class="event-time">11:30</span><span class="event-title">New Event</span></div>
					</div>
					<div class="col-day">
						<div class="event cyan"><span class="event-time">13:30</span><span class="event-title">New Event</span></div>
					</div>
					<div class="col-day col-weekend">
						<div class="event red"><span class="event-time">9:15</span><span class="event-title">New Event</span></div>
					</div>
					<div class="col-day col-weekend">
						<div class="event"><span class="event-time">9:15</span><span class="event-title">New Event</span></div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!--
	<div class="view-month">
		<h2><b>February</b> 2021</h2>
		<div class="month">
			<div class="weekdays">
				<b>Mon</b>
				<b>Tue</b>
				<b>Wed</b>
				<b>Thu</b>
				<b>Fri</b>
				<b>Sat</b>
				<b>Sun</b>
			</div>
			<div class="days">
				<b class="non-day">28</b>
				<b class="non-day">29</b>
				<b class="non-day">30</b>
				<b class="non-day">31</b>
				<b>1</b>
				<b class="weekend">2</b>
				<b class="weekend">3</b>
				<b>4</b>
				<b>5</b>
				<b>6</b>
				<b>7</b>
				<b>8</b>
				<b class="weekend">9</b>
				<b class="weekend">10</b>
				<b>11</b>
				<b>12</b>
				<b>13</b>
				<b>14</b>
				<b>15</b>
				<b class="weekend">16</b>
				<b class="weekend">17</b>
				<b>18</b>
				<b>19</b>
				<b>20</b>
				<b>21</b>
				<b>22</b>
				<b class="weekend">23</b>
				<b class="weekend">24</b>
				<b>25</b>
				<b>26</b>
				<b>27</b>
				<b>28</b>
				<b>29</b>
				<b class="weekend">30</b>
				<b class="weekend">31</b>
				<b class="non-day">1</b>
				<b class="non-day">2</b>
				<b class="non-day">3</b>
				<b class="non-day">4</b>
				<b class="non-day">5</b>
				<b class="non-day weekend">6</b>
				<b class="non-day weekend">7</b>
			</div>
		</div>
	</div>
	-->

	<!--
	<div class="view-year">
		<h2>2021</h2>
		<div class="month">
			<h3>January</h3>
			<div class="weekdays">
				<b>M</b><b>T</b><b>W</b><b>T</b><b>F</b><b>S</b><b>S</b>
			</div>
			<div class="days">
				<b class="non-day">28</b>
				<b class="non-day">29</b>
				<b class="non-day">30</b>
				<b class="non-day">31</b>
				<b>1</b>
				<b class="weekend">2</b>
				<b class="weekend">3</b>
				<b>4</b>
				<b>5</b>
				<b>6</b>
				<b>7</b>
				<b>8</b>
				<b class="weekend">9</b>
				<b class="weekend">10</b>
				<b>11</b>
				<b>12</b>
				<b>13</b>
				<b>14</b>
				<b>15</b>
				<b class="weekend">16</b>
				<b class="weekend">17</b>
				<b>18</b>
				<b>19</b>
				<b>20</b>
				<b>21</b>
				<b>22</b>
				<b class="weekend">23</b>
				<b class="weekend">24</b>
				<b>25</b>
				<b>26</b>
				<b>27</b>
				<b>28</b>
				<b>29</b>
				<b class="weekend">30</b>
				<b class="weekend">31</b>
				<b class="non-day">1</b>
				<b class="non-day">2</b>
				<b class="non-day">3</b>
				<b class="non-day">4</b>
				<b class="non-day">5</b>
				<b class="non-day">6</b>
				<b class="non-day">7</b>
			</div>
		</div>
		
		<div class="month">
			<h3>Febuary</h3>
			<div class="weekdays"><b>M</b><b>T</b><b>W</b><b>T</b><b>F</b><b>S</b><b>S</b></div><div class="days"><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b class="weekend">6</b><b class="weekend">7</b><b>8</b><b>9</b><b>10</b><b>11</b><b>12</b><b class="weekend">13</b><b class="weekend">14</b><b>15</b><b>16</b><b>17</b><b>18</b><b>19</b><b class="weekend">20</b><b class="weekend">21</b><b>22</b><b>23</b><b>24</b><b>25</b><b>26</b><b class="weekend">27</b><b class="weekend">28</b><b class="non-day">1</b><b class="non-day">2</b><b class="non-day">3</b><b class="non-day">4</b><b class="non-day">5</b><b class="non-day weekend">6</b><b class="non-day weekend">7</b><b class="non-day">8</b><b class="non-day">9</b><b class="non-day">10</b><b class="non-day">11</b><b class="non-day">12</b><b class="non-day weekend">13</b><b class="non-day weekend">14</b></div>
		</div>

		<div class="month">
			<h3>March</h3><div class="weekdays"><b>M</b><b>T</b><b>W</b><b>T</b><b>F</b><b>S</b><b>S</b></div><div class="days"><b class="non-day">28</b><b class="non-day">29</b><b class="non-day">30</b><b class="non-day">31</b><b>1</b><b class="weekend">2</b><b class="weekend">3</b><b>4</b><b>5</b><b>6</b><b>7</b><b>8</b><b class="weekend">9</b><b class="weekend">10</b><b>11</b><b>12</b><b>13</b><b>14</b><b>15</b><b class="weekend">16</b><b class="weekend">17</b><b>18</b><b>19</b><b>20</b><b>21</b><b>22</b><b class="weekend">23</b><b class="weekend">24</b><b>25</b><b>26</b><b>27</b><b>28</b><b>29</b><b class="weekend">30</b><b class="weekend">31</b><b class="non-day">1</b><b class="non-day">2</b><b class="non-day">3</b><b class="non-day">4</b><b class="non-day">5</b><b class="non-day">6</b><b class="non-day">7</b></div>
		</div>
		
		<div class="month">
			<h3>April</h3><div class="weekdays"><b>M</b><b>T</b><b>W</b><b>T</b><b>F</b><b>S</b><b>S</b></div><div class="days"><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b class="weekend">6</b><b class="weekend">7</b><b>8</b><b>9</b><b>10</b><b>11</b><b>12</b><b class="weekend">13</b><b class="weekend">14</b><b>15</b><b>16</b><b>17</b><b>18</b><b>19</b><b class="weekend">20</b><b class="weekend">21</b><b>22</b><b>23</b><b>24</b><b>25</b><b>26</b><b class="weekend">27</b><b class="weekend">28</b><b class="non-day">1</b><b class="non-day">2</b><b class="non-day">3</b><b class="non-day">4</b><b class="non-day">5</b><b class="non-day weekend">6</b><b class="non-day weekend">7</b><b class="non-day">8</b><b class="non-day">9</b><b class="non-day">10</b><b class="non-day">11</b><b class="non-day">12</b><b class="non-day weekend">13</b><b class="non-day weekend">14</b></div>
		</div>

		<div class="month">
			<h3>May</h3>
			<div class="weekdays"><b>M</b><b>T</b><b>W</b><b>T</b><b>F</b><b>S</b><b>S</b></div><div class="days"><b class="non-day">28</b><b class="non-day">29</b><b class="non-day">30</b><b class="non-day">31</b><b>1</b><b class="weekend">2</b><b class="weekend">3</b><b>4</b><b>5</b><b>6</b><b>7</b><b>8</b><b class="weekend">9</b><b class="weekend">10</b><b>11</b><b>12</b><b>13</b><b>14</b><b>15</b><b class="weekend">16</b><b class="weekend">17</b><b>18</b><b>19</b><b>20</b><b>21</b><b>22</b><b class="weekend">23</b><b class="weekend">24</b><b>25</b><b>26</b><b>27</b><b>28</b><b>29</b><b class="weekend">30</b><b class="weekend">31</b><b class="non-day">1</b><b class="non-day">2</b><b class="non-day">3</b><b class="non-day">4</b><b class="non-day">5</b><b class="non-day">6</b><b class="non-day">7</b></div>
		</div>
		
		<div class="month">
			<h3>April</h3><div class="weekdays"><b>M</b><b>T</b><b>W</b><b>T</b><b>F</b><b>S</b><b>S</b></div><div class="days"><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b class="weekend">6</b><b class="weekend">7</b><b>8</b><b>9</b><b>10</b><b>11</b><b>12</b><b class="weekend">13</b><b class="weekend">14</b><b>15</b><b>16</b><b>17</b><b>18</b><b>19</b><b class="weekend">20</b><b class="weekend">21</b><b>22</b><b>23</b><b>24</b><b>25</b><b>26</b><b class="weekend">27</b><b class="weekend">28</b><b class="non-day">1</b><b class="non-day">2</b><b class="non-day">3</b><b class="non-day">4</b><b class="non-day">5</b><b class="non-day weekend">6</b><b class="non-day weekend">7</b><b class="non-day">8</b><b class="non-day">9</b><b class="non-day">10</b><b class="non-day">11</b><b class="non-day">12</b><b class="non-day weekend">13</b><b class="non-day weekend">14</b></div>
		</div>

		<div class="month">
			<h3>July</h3>
			<div class="weekdays"><b>M</b><b>T</b><b>W</b><b>T</b><b>F</b><b>S</b><b>S</b></div><div class="days"><b class="non-day">28</b><b class="non-day">29</b><b class="non-day">30</b><b class="non-day">31</b><b>1</b><b class="weekend">2</b><b class="weekend">3</b><b>4</b><b>5</b><b>6</b><b>7</b><b>8</b><b class="weekend">9</b><b class="weekend">10</b><b>11</b><b>12</b><b>13</b><b>14</b><b>15</b><b class="weekend">16</b><b class="weekend">17</b><b>18</b><b>19</b><b>20</b><b>21</b><b>22</b><b class="weekend">23</b><b class="weekend">24</b><b>25</b><b>26</b><b>27</b><b>28</b><b>29</b><b class="weekend">30</b><b class="weekend">31</b><b class="non-day">1</b><b class="non-day">2</b><b class="non-day">3</b><b class="non-day">4</b><b class="non-day">5</b><b class="non-day">6</b><b class="non-day">7</b></div>
		</div>
		
		<div class="month">
			<h3>April</h3><div class="weekdays"><b>M</b><b>T</b><b>W</b><b>T</b><b>F</b><b>S</b><b>S</b></div><div class="days"><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b class="weekend">6</b><b class="weekend">7</b><b>8</b><b>9</b><b>10</b><b>11</b><b>12</b><b class="weekend">13</b><b class="weekend">14</b><b>15</b><b>16</b><b>17</b><b>18</b><b>19</b><b class="weekend">20</b><b class="weekend">21</b><b>22</b><b>23</b><b>24</b><b>25</b><b>26</b><b class="weekend">27</b><b class="weekend">28</b><b class="non-day">1</b><b class="non-day">2</b><b class="non-day">3</b><b class="non-day">4</b><b class="non-day">5</b><b class="non-day weekend">6</b><b class="non-day weekend">7</b><b class="non-day">8</b><b class="non-day">9</b><b class="non-day">10</b><b class="non-day">11</b><b class="non-day">12</b><b class="non-day weekend">13</b><b class="non-day weekend">14</b></div>
		</div>

		<div class="month">
			<h3>September</h3>
			<div class="weekdays"><b>M</b><b>T</b><b>W</b><b>T</b><b>F</b><b>S</b><b>S</b></div><div class="days"><b class="non-day">28</b><b class="non-day">29</b><b class="non-day">30</b><b class="non-day">31</b><b>1</b><b class="weekend">2</b><b class="weekend">3</b><b>4</b><b>5</b><b>6</b><b>7</b><b>8</b><b class="weekend">9</b><b class="weekend">10</b><b>11</b><b>12</b><b>13</b><b>14</b><b>15</b><b class="weekend">16</b><b class="weekend">17</b><b>18</b><b>19</b><b>20</b><b>21</b><b>22</b><b class="weekend">23</b><b class="weekend">24</b><b>25</b><b>26</b><b>27</b><b>28</b><b>29</b><b class="weekend">30</b><b class="weekend">31</b><b class="non-day">1</b><b class="non-day">2</b><b class="non-day">3</b><b class="non-day">4</b><b class="non-day">5</b><b class="non-day">6</b><b class="non-day">7</b></div>
		</div>
		
		<div class="month">
			<h3>April</h3><div class="weekdays"><b>M</b><b>T</b><b>W</b><b>T</b><b>F</b><b>S</b><b>S</b></div><div class="days"><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b class="weekend">6</b><b class="weekend">7</b><b>8</b><b>9</b><b>10</b><b>11</b><b>12</b><b class="weekend">13</b><b class="weekend">14</b><b>15</b><b>16</b><b>17</b><b>18</b><b>19</b><b class="weekend">20</b><b class="weekend">21</b><b>22</b><b>23</b><b>24</b><b>25</b><b>26</b><b class="weekend">27</b><b class="weekend">28</b><b class="non-day">1</b><b class="non-day">2</b><b class="non-day">3</b><b class="non-day">4</b><b class="non-day">5</b><b class="non-day weekend">6</b><b class="non-day weekend">7</b><b class="non-day">8</b><b class="non-day">9</b><b class="non-day">10</b><b class="non-day">11</b><b class="non-day">12</b><b class="non-day weekend">13</b><b class="non-day weekend">14</b></div>
		</div>

		<div class="month">
			<h3>November</h3>
			<div class="weekdays"><b>M</b><b>T</b><b>W</b><b>T</b><b>F</b><b>S</b><b>S</b></div><div class="days"><b class="non-day">28</b><b class="non-day">29</b><b class="non-day">30</b><b class="non-day">31</b><b>1</b><b class="weekend">2</b><b class="weekend">3</b><b>4</b><b>5</b><b>6</b><b>7</b><b>8</b><b class="weekend">9</b><b class="weekend">10</b><b>11</b><b>12</b><b>13</b><b>14</b><b>15</b><b class="weekend">16</b><b class="weekend">17</b><b>18</b><b>19</b><b>20</b><b>21</b><b>22</b><b class="weekend">23</b><b class="weekend">24</b><b>25</b><b>26</b><b>27</b><b>28</b><b>29</b><b class="weekend">30</b><b class="weekend">31</b><b class="non-day">1</b><b class="non-day">2</b><b class="non-day">3</b><b class="non-day">4</b><b class="non-day">5</b><b class="non-day">6</b><b class="non-day">7</b></div>
		</div>
		
		<div class="month">
			<h3>April</h3><div class="weekdays"><b>M</b><b>T</b><b>W</b><b>T</b><b>F</b><b>S</b><b>S</b></div><div class="days"><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b class="weekend">6</b><b class="weekend">7</b><b>8</b><b>9</b><b>10</b><b>11</b><b>12</b><b class="weekend">13</b><b class="weekend">14</b><b>15</b><b>16</b><b>17</b><b>18</b><b>19</b><b class="weekend">20</b><b class="weekend">21</b><b>22</b><b>23</b><b>24</b><b>25</b><b>26</b><b class="weekend">27</b><b class="weekend">28</b><b class="non-day">1</b><b class="non-day">2</b><b class="non-day">3</b><b class="non-day">4</b><b class="non-day">5</b><b class="non-day weekend">6</b><b class="non-day weekend">7</b><b class="non-day">8</b><b class="non-day">9</b><b class="non-day">10</b><b class="non-day">11</b><b class="non-day">12</b><b class="non-day weekend">13</b><b class="non-day weekend">14</b></div>
		</div>
	</div>
	-->

</content>
