
content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	h2 {
		font-weight: 400;
		font-size: 29px;
		text-align: center;
		margin-bottom: 7px;

		b {
			font-weight: 700;
		}
	}
}

.view-month {
	display: flex;
    flex-direction: column;
    height: 100%;
	padding: 17px 0 0;

	h2 {
		margin-bottom: 11px;
	}

	.month {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 5px 0 0 0;
		text-align: right;

		.weekdays {
			display: flex;
			height: 23px;
			text-transform: uppercase;
			border-bottom: 1px solid #ccc;

			b {
				flex: 1;
				padding: 5px 7px;
				font-weight: 400;
			}
		}

		.days {
			flex: 1;
			font-size: 0;

			b {
				display: inline-block;
				width: 14.285%;
				height: 16.66%;
				padding: 2px 7px;
				font-weight: 400;
				font-size: 14px;
				border-right: 1px solid;
				border-bottom: 1px solid;
				border-color: #ccc;

				&:nth-child(7n) {
					border-right: 0;
				}

				&:nth-last-child(1),
				&:nth-last-child(2),
				&:nth-last-child(3),
				&:nth-last-child(4),
				&:nth-last-child(5),
				&:nth-last-child(6),
				&:nth-last-child(7) {
					border-bottom: 0;
				}

				&.weekend {
					background: rgba(0,0,0,.025);
					color: #999;
				}

				&.non-day {
					color: #c2c2c2;
				}
			}
		}
	}
}

.view-year {
	padding: 15px 19px 0;
	font-size: 0;

	.month {
		// background: rgba(0,0,0,.1);
		display: inline-block;
		width: 25%;
		padding: 9px 7px;
		margin: 0 0 15px 0;
		border-radius: 4px;
		cursor: pointer;

		&:hover {
			box-shadow: 0 0 0 3px rgba(0,0,0,.075); // #3366dd4a
		}

		h3 {
			color: #e66;
			font-weight: 400;
			font-size: 17px;
			padding: 0 11px;
			margin-bottom: 5px;
		}

		b {
			display: inline-block;
			width: 14%;
			font-weight: 400;
			font-size: 11px;
			text-align: center;
			padding: 3px 0;
		}

		.weekdays {
			font-size: 0;
			color: #888;
			padding: 3px 1px 3px;
			margin-bottom: 3px;
		}

		.days {
			font-size: 0;
			padding: 0 1px;

			b {
				&.weekend {
					color: #999;
				}

				&.non-day {
					color: #c2c2c2;
				}
			}
		}
	}
}
