
&[data-theme="dark"] {

	[class*="icon-"],
	[class^="icon-"] {
		filter: invert(1) drop-shadow(0 1px 0 rgba(0,0,0,.4));
	}

	h2 {
		i {
			color: #0ef;
		}
	}

	h3 {
		color: #0ef;
	}

	.event {
		box-shadow: 0 4px 3px -2px rgba(0,0,0,.25);
	}

	.view-week {
		.week .weekdays b.today i:nth-child(2) {
			background: #0ef;
			color: #333;
			text-shadow: 0 0 0;
		}
	}

	.view-month {
		.month {
			.days {
				b {
					&.today {
						i {
							background: #0ef;
							color: #333;
							text-shadow: 0 0 0;
						}
					}

					&.weekend:not(.non-day) {
						color: #0ef;
					}

					.entry:before {
						box-shadow: 0 1px 1px rgba(0,0,0,.35);
					}
				}
			}
		}
	}

	.view-year {
		.month {
			&:hover {
				background: rgba(0,0,0,.05);
			}

			.days b {
				&.weekend:not(.non-day) {
					color: #0ef;
				}

				&.has-event.weekend,
				&.has-event {
					color: #fff;
				}
			}
		}
	}

	.now-line {
		border-top-color: #0ef;

		&:before {
			background-color: #0ef;
		}

		&:after {
			box-shadow: 0 0 0 1px #0ef;
			background-color: #0ef;
			color: #333;
		}
	}

	.sidebar {
		.mini-calendar {
			.cal-nav {
				.icon-chevron-left,
				.icon-chevron-right {
					&:hover {
						background-color: rgba(255,255,255,.15);
					}
					&:active {
						background-color: rgba(255,255,255,.25);
					}
				}
			}

			.month {
				.days {
					b {
						&.week-nr {
							background: rgba(0,0,0,.1);
						}

						&.weekend:not(.non-day) {
							color: #0ef;
							text-shadow: 0 1px 1px rgba(0,0,0,.2);
						}

						&.non-day {
							opacity: .5;
							text-shadow: 0 0 0;
						}

						&.has-event.weekend,
						&.has-event {
							color: #fff;
						}

						&.today:not(.non-day) {
							&:before {
								box-shadow: inset 0 0 0 2px #0ef;
							}
						}

						&.selected {
							color: #333;
							text-shadow: 0 0 0;

							&:before {
								background: #0ef;
								box-shadow: inset 0 0 0 2px #0ef;
							}
						}
					}
				}
			}
		}

		.event {
			box-shadow: 0 0 0;
		}
	}
}
